@import '../../../global/variables';

.find {
  width: 100%;
  display: flex;
  justify-content: center;

  .employeeList {
    display: flex;
    flex-direction: column;
    width: 40%;

    h1 {
      font-size: 3rem;
    }

    li {
      display: flex;
      margin-top: 2%;
    }

    .sortBy {
      display: flex;
      align-items: center;
      position: relative;
      height: 45px;
      border: 1px solid red;
      overflow: hidden;

      .sortByHeader {
        cursor: pointer;
        z-index: 1;
        background-color: white;
        border: 1px solid green;
        height: 100%;

        h2 {
        }
      }

      img {
        height: 20px;
      }

      .flip {
        transform: rotate(180deg);
      }

      button {
        width: 100px;
      }

      .toggled {
        background-color: green;
      }

      ul {
        position: absolute;
        left: -100%;
        transition: left .5s ease;
        z-index: 0;
        border: 1px solid red;

        li {
          margin: 0;
        }
      }

      .slideOut {
        position: absolute;
        left: 10%;
      }
    }

    .employees {

      a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid black;
        text-decoration: none;

        :nth-child(2) {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-weight: bold;
        }
      }
    }
  }
}

