@import '../../global/variables';

.home {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ul {
    display: flex;
    list-style-type: none;
    border: 1px solid blue;

    li {
      margin: 0 5% 0 5%;

      h1 {
        animation: fadeIn 2s ease forwards;
        opacity: 0;
        color: $accent;
      }


      #wageFact {
        animation-delay: 1s;
      }

      #serviceFact {
        animation-delay: 2s;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        } 100% {
          opacity: 1;
        }
      }
    }
    }

  }
